package {{PACKAGE}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class {{CLASS_NAME}}Application {
    public static void main(String[] args) {
        SpringApplication.run({{CLASS_NAME}}Application.class, args);
    }
}
