name: {{FUNCTION_NAME}}
image: {{IMAGE_TAG}}
timeoutMs: 10000
concurrency: 2
executionMode: DEPLOYMENT

x-cli:
  build:
    context: .
    dockerfile: Dockerfile
    platform: linux/amd64
    push: true
