{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "java",
            "name": "Debug {{FUNCTION_NAME}}",
            "request": "launch",
            "mainClass": "{{PACKAGE}}.{{CLASS_NAME}}Application",
            "projectName": "{{FUNCTION_NAME}}",
            "cwd": "${workspaceFolder}",
            "console": "integratedTerminal",
            "preLaunchTask": "gradle: build"
        }
    ]
}
