{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name | quote }}
  namespace: {{ include "nanofaas.namespace" . | quote }}
{{- end -}}
